Adafruit-Blinka==8.15.2
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-dht==3.7.8
adafruit-circuitpython-mcp3xxx==1.4.14
adafruit-circuitpython-motor==3.4.9
adafruit-circuitpython-pca9685==3.4.8
adafruit-circuitpython-register==1.9.15
adafruit-circuitpython-requests==1.13.0
adafruit-circuitpython-servokit==1.3.13
adafruit-circuitpython-typing==1.8.3
Adafruit-DHT==1.4.0
Adafruit-PlatformDetect==3.40.3
Adafruit-PureIO==1.1.10
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
cbor2==5.4.6
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
comm==0.1.2
contourpy==1.0.7
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
executing==1.2.0
fastjsonschema==2.16.3
fonttools==4.39.4
fqdn==1.5.1
gpiod==1.5.3
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.12.0
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-client==8.0.3
jupyter-console==6.6.1
jupyter-core==5.2.0
jupyter-events==0.6.3
jupyter-server==2.3.0
jupyter-server-terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kiwisolver==1.4.4
luma.core==2.4.0
luma.oled==3.12.0
MarkupSafe==2.1.2
mat4py==0.5.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==2.0.5
mock==5.0.1
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
notebook==6.5.2
notebook-shim==0.2.2
numpy==1.24.2
opencv-python==4.4.0.46
packaging==23.0
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
playsound==1.3.0
-e git+https://github.com/kevcangas/programa_rasp.git@cd148e51c57d1300ae7810c0fe71269357e65439#egg=programa_rasp
prometheus-client==0.16.0
prompt-toolkit==3.0.37
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.23.0
pycparser==2.21
pyftdi==0.54.0
Pygments==2.14.0
PyGObject==3.42.2
pyparsing==3.0.9
pyrsistent==0.19.3
pyserial==3.5
python-dateutil==2.8.2
python-json-logger==2.0.7
pyusb==1.2.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
requests==2.28.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpi-ws281x==4.3.4
RPi.GPIO==0.7.1
Send2Trash==1.8.0
six==1.16.0
smbus2==0.4.2
sniffio==1.3.0
soupsieve==2.4
spidev==3.6
stack-data==0.6.2
sysv-ipc==1.1.0
terminado==0.17.1
tflite-runtime==2.11.0
tinycss2==1.2.1
tornado==6.2
traitlets==5.9.0
typing-extensions==4.5.0
uri-template==1.2.0
urllib3==1.26.14
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
widgetsnbextension==4.0.5
zipp==3.15.0
